.allRegister {
  background-image: url(./images/background.jpg);
}

.registerContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.buttonRegister,
.buttonBackRegister {
  position: relative;
  margin: 45px 20px;
  width: 150px;
  padding: 12px;
  border-radius: 10px;
  color: black;
  background-color: #1ed760;
  font-size: 17px;
  font-weight: 600;
  border: solid 1px black;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.3);
}
.buttonRegister:hover,
.buttonBackRegister:hover {
  background-color: rgba(66, 66, 66, 0.1);
  border-radius: 10px;
  color: #1ed760;
  border-color: rgb(44, 44, 44);
}

.registerContainer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formLabelRegister {
  font-weight: 900;
  color: white;
  font-size: 20px;
}

.colRegister {
  font-size: 20px;
  color: white;
}
.colRegisterLink {
  color: #1ed760;
  text-decoration: none;
}
.colRegisterLink:hover {
  color: #18ad4c;
  text-decoration: none;
  opacity: 0.7;
}
