.aboutMessage {
  background-color: rgba(187, 170, 170, 0.3);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  /* border: solid 1px rgb(0, 0, 0); */
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.535);
  border-radius: 20px;
}

.about h3 {
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
  font-weight: 800;
}
.about p {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 400;
  color: white;
}
