.songsDisplayAdmin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 100px;
  overflow: auto;
  /* height: 500px; */
}

.songsDisplayAdmin::-webkit-scrollbar {
  width: 14px;
}

.songsDisplayAdmin::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 5px 5px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.songsDisplayAdmin::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.8);
}
