.entirecard {
  border-radius: 100px;
  width: 150px;
  box-shadow: 0px 8px rgb(0, 0, 0);
}

.poza {
  height: 125px;
  width: 150px;
}

div.songName {
  color: white;
  font-size: 20px;
  cursor: pointer;
  /* overflow: hidden; */
}

div.artistName {
  color: white;
  font-size: 15px;
  text-overflow: ellipsis;
}
div.songName:hover,
div.artistName:hover {
  opacity: 0.7;
}

.belowPhoto {
  background: linear-gradient(#127735d7, #000000db);
}

.favoriteButton,
.shoppingButton {
  color: #1ed760;
  margin-bottom: -4px;
}
.shoppingButton {
  margin-left: 10px;
}

.cardActions {
  display: flex;
  justify-content: space-between;
}

.titleModal {
  color: #1ed760;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  margin: 20px;
  text-shadow: 3px 3px 3px #000000;
}

.inputModal {
  background-color: white;
  margin-top: 20px;
  width: 300px;
}

.buttonsModal {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
}
.buttonModal {
  background-color: #1ed760;
  margin-left: 65px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  box-shadow: 3px 3px 3px #323232;
}

.buttonModal:hover {
  background-color: #0e7933;

  color: white;
}
