.allLogin {
  background-image: linear-gradient(
    to top,
    rgba(178, 80, 104, 1),
    rgba(231, 171, 121, 0.9)
  );
}

.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.buttonLogin,
.buttonBackLogin {
  margin: 45px 20px;
  width: 150px;
  padding: 12px;
  border-radius: 20px;
  color: #e7ab79;
  background-color: #b25068;
  font-size: 17px;
  font-weight: 600;
  border: solid 1px #62103d;
}

.buttonLogin:hover,
.buttonBackLogin:hover {
  background-color: #e7ab79;
  border-radius: 20px;
}
.loginContainer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -10%;
}

.formLabelLogin {
  font-weight: 900;
  color: #b23857;
  font-size: 20px;
}
.formControlLogin {
  border-radius: 50%;
  color: black;
  font-weight: 900;
}

.buttonLogin:hover,
.buttonBackLogin:hover {
  background-color: #e7ab79;
  border-radius: 20px;
  color: #62103d;
}

.colLogin {
  font-size: 20px;
  color: #b72348;
}
.colLoginLink {
  color: #62103d;
  text-decoration: none;
}
.colLoginLink:hover {
  color: #62103d;
  text-decoration: none;
  opacity: 0.7;
}
