body {
  background-image: url(./images/background.jpg);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.buttonLogin,
.buttonBackLogin {
  position: relative;
  margin: 45px 20px;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  color: black;
  background-color: #1ed760;
  font-size: 17px;
  font-weight: 600;
  border: solid 1px black;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.3);
}

.loginContainer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -10%;
}

.formLabelLogin {
  font-weight: 900;
  color: white;
  font-size: 20px;
}
.formControlLogin {
  border-radius: 50%;
  color: black;
  font-weight: 900;
}

.buttonLogin:hover,
.buttonBackLogin:hover {
  background-color: rgba(66, 66, 66, 0.1);
  border-radius: 10px;
  color: #1ed760;
  border-color: rgb(44, 44, 44);

}

.colLogin {
  font-size: 20px;
  color: white;
}
.colLoginLink {
  color: #1ed760;
  text-decoration: none;
}
.colLoginLink:hover {
  color: #18ad4c;
  text-decoration: none;
  opacity: 0.7;
}
