.favoriteBox {
  border-radius: 50px;
  background-color: #0000005e;
  color: #ffffff83;
  height: 70px;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.favoriteTitle {
  font-size: 25px;

  padding: 30px;
  margin: 50px;
  color: #1ed760;
  text-shadow: 3px 3px 3px #000;
  font-weight: 80px;
}

.undoIcon {
  color: #1ed760;
  padding-left: 50px;
  width: 42%;
  align-items: center;
}

.favoriteTitle:hover {
  color: #00ff59;
}
.backText {
  align-items: center;
  margin-top: 20px;
}

.literallyIcon {
  font-size: 30px;
}
.literallyIcon:hover {
  color: #00ff59;
}

.pageFavorites {
  background-color: rgba(150, 150, 150, 0.099);
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 50px;
  box-shadow: 0 30px 40px black;
  border-radius: 20px;
}

.favoritesDisplay {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 100px;
  /* overflow: auto;
  height: 500px; */
}


.textPosition {
  font-size: 20px;
}
